.st0 {
    fill: none;
}

.st1 {
    opacity: 0.2;
    fill: url(#SVGID_1_);
}

.st2 {
    opacity: 0.2;
    fill: url(#SVGID_00000062908612189211915620000010265108597279585721_);
}

.st3 {
    opacity: 0.2;
    fill: url(#SVGID_00000168837599976574522570000014413204429570743733_);
}

.st4 {
    opacity: 0.2;
    fill: url(#SVGID_00000183952024968150648690000003673622610112689058_);
}

.st5 {
    opacity: 0.2;
    fill: url(#SVGID_00000025424984681441199060000017230059942064941246_);
}

.st6 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 4.1538;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.6318, 6.9478;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    fill: none;
    stroke: #B3B3B3;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st9 {
    fill: url(#SVGID_00000055703373823943309910000011460101070086632847_);
}

.st10 {
    fill: url(#SVGID_00000176041519983294815270000000754053755605840037_);
}

.st11 {
    fill: #244A4D;
}

.st12 {
    fill: url(#SVGID_00000138562021963344346030000005541298191131851455_);
}

.st13 {
    fill: url(#SVGID_00000006693456951057436430000003640687440619644300_);
}

.st14 {
    fill: url(#SVGID_00000117665856367880445720000017433379206655553933_);
}

.st15 {
    fill: url(#SVGID_00000005957423131390091670000005738353247120522911_);
}

.st16 {
    fill: url(#SVGID_00000084513497002616958210000006943182361638897567_);
}

.st17 {
    fill: url(#SVGID_00000125561515811242010880000004871736920645468814_);
}

.st18 {
    fill: url(#SVGID_00000037657505590519559980000006968292892568201395_);
}

.st19 {
    fill: url(#SVGID_00000168800925252978999130000016380291154482172051_);
}

.st20 {
    fill: url(#SVGID_00000116200303916131498610000010990348316495237047_);
}

.st21 {
    fill: url(#SVGID_00000078750199550241821350000014198134343557845914_);
}

.st22 {
    fill: url(#SVGID_00000121971734279556186870000000181900557019239849_);
}

.st23 {
    fill: url(#SVGID_00000125566463003463193130000005851746353020840587_);
}

.st24 {
    fill: url(#SVGID_00000116955985915962168180000004421024533840893827_);
}

.st25 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000067956318421546721400000000704068602666297744_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st26 {
    fill: url(#SVGID_00000000922233591849969910000017406956717688233391_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #144D61;
}

.st28 {
    fill: none;
    stroke: url(#SVGID_00000172421603452814118850000004848893252912670392_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st29 {
    fill: none;
    stroke: url(#SVGID_00000089559436189574815730000009660674842491670460_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.7004, 10.0506;
}

.st30 {
    fill: none;
    stroke: url(#SVGID_00000081648730213081190440000007053463765759924637_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st31 {
    fill: url(#SVGID_00000176028143544204024510000003003855281160203938_);
}

.st32 {
    fill: url(#SVGID_00000078028071203069047880000005361451748850205570_);
}

.st33 {
    fill: #FFFFFF;
    stroke: #00FFFF;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st34 {
    fill: url(#SVGID_00000047754239662207617110000006625202937795227781_);
    stroke: #C9C9C9;
    stroke-width: 2.7805;
    stroke-miterlimit: 10;
}

.st35 {
    fill: none;
    stroke: #00FFFF;
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st36 {
    fill: none;
    stroke: #00FFFF;
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.7909, 10.1864;
}

.st37 {
    fill: #00FFFF;
}

.st38 {
    fill: #FFFFFF;
    stroke: #FBB03B;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st39 {
    fill: url(#SVGID_00000128450723789478209870000002013852485773538443_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st40 {
    fill: none;
    stroke: url(#SVGID_00000088096273094484970070000002354790848373727146_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st41 {
    fill: none;
    stroke: url(#SVGID_00000052807965177992750820000003322268565896455096_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.614, 9.921;
}

.st42 {
    fill: none;
    stroke: url(#SVGID_00000054228749511738979790000001774851669936169125_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st43 {
    fill: url(#SVGID_00000080897797597967308520000009479246765753563327_);
}

.st44 {
    fill: url(#SVGID_00000023251537307716602190000012460025377244008612_);
}

.st45 {
    fill: url(#SVGID_00000044140898411700477750000004264109916801436819_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st46 {
    fill: none;
    stroke: url(#SVGID_00000085973098672301970890000014040230542486976133_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st47 {
    fill: none;
    stroke: url(#SVGID_00000042733722044775926720000017017410036351163048_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.6918, 10.0376;
}

.st48 {
    fill: none;
    stroke: url(#SVGID_00000010290096744756863770000010254395287368183976_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st49 {
    fill: url(#SVGID_00000149354020711548025360000004076932442196068287_);
}

.st50 {
    fill: url(#SVGID_00000142142522490117291430000015994076253972273285_);
}

.st51 {
    font-family: 'ArialMT';
}

.st52 {
    font-size: 32px;
}

.st53 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000114793396325480183150000013195490509901034415_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st54 {
    fill: url(#SVGID_00000114050195363811386370000007738983821809752208_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st55 {
    fill: none;
    stroke: url(#SVGID_00000026869702406879064740000010822348071260827536_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st56 {
    fill: none;
    stroke: url(#SVGID_00000072264378770213556110000000411113646824231322_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.6578, 9.9867;
}

.st57 {
    fill: none;
    stroke: url(#SVGID_00000129910280238448736460000004471507474881637536_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st58 {
    fill: url(#SVGID_00000054245826024739256920000002665981588236074170_);
}

.st59 {
    fill: url(#SVGID_00000162323871083893025100000014271785409242423743_);
}

.st60 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000070818835052696378880000008956080969525831346_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st61 {
    fill: url(#SVGID_00000076602330589027829960000015468005705636962692_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st62 {
    fill: none;
    stroke: url(#SVGID_00000037678140689433028180000011980418316123896476_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st63 {
    fill: none;
    stroke: url(#SVGID_00000049908512926867033150000008072509063099232140_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.7535, 10.1302;
}

.st64 {
    fill: none;
    stroke: url(#SVGID_00000103969525205670427130000000806173709368779709_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st65 {
    fill: url(#SVGID_00000179610891027110936320000013843372041468324792_);
}

.st66 {
    fill: url(#SVGID_00000178170389901161812000000005270255160214906009_);
}

.st67 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000091733943038885298410000000950421431187218589_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st68 {
    fill: url(#SVGID_00000134235783448662423750000005610928617945745062_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st69 {
    fill: none;
    stroke: url(#SVGID_00000140717319408629439770000013263884367449962153_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st70 {
    fill: none;
    stroke: url(#SVGID_00000093166030530962617880000014963828194672663463_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.8401, 10.2602;
}

.st71 {
    fill: none;
    stroke: url(#SVGID_00000141428132909226917400000004004216535576712100_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st72 {
    fill: url(#SVGID_00000040563412879818221900000009555829162118240703_);
}

.st73 {
    fill: url(#SVGID_00000024689843403062723510000002845436605611219640_);
}

.st74 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000081639339138567500740000000062422405244673188_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st75 {
    fill: url(#SVGID_00000122711737893558885280000014370254305570051479_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st76 {
    fill: none;
    stroke: url(#SVGID_00000072275261618982269280000016174726214235958956_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st77 {
    fill: none;
    stroke: url(#SVGID_00000116206838218731467530000006124784519344171943_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.8062, 10.2093;
}

.st78 {
    fill: none;
    stroke: url(#SVGID_00000134221539463746307160000008024895648452386698_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st79 {
    fill: url(#SVGID_00000066515705562803985250000002814665638654846882_);
}

.st80 {
    fill: url(#SVGID_00000085955040952036413300000004422659420356529065_);
}

.st81 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000010991170893602266680000003711190465847360680_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st82 {
    fill: url(#SVGID_00000026872902402816874740000015736470102548776072_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st83 {
    fill: none;
    stroke: url(#SVGID_00000133500719845943173470000005955749871122325667_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st84 {
    fill: none;
    stroke: url(#SVGID_00000096742896359210516980000008651139663744480700_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.7829, 10.1743;
}

.st85 {
    fill: none;
    stroke: url(#SVGID_00000145754042604877849210000007352669069559485584_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st86 {
    fill: url(#SVGID_00000140008072251010524750000009125117479571063962_);
}

.st87 {
    fill: url(#SVGID_00000134221246351783840280000011436420664926607036_);
}

.st88 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000154401347423735376280000001408057382259990204_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st89 {
    fill: url(#SVGID_00000057838240271014793810000016861024103056754109_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st90 {
    fill: none;
    stroke: url(#SVGID_00000155841433184991143110000003787272541395839640_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st91 {
    fill: none;
    stroke: url(#SVGID_00000076584006941283795700000004827431562367157174_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.7045, 10.0567;
}

.st92 {
    fill: none;
    stroke: url(#SVGID_00000040558273074218036740000007070852882586952381_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st93 {
    fill: url(#SVGID_00000035510609921555476670000013239310272494468269_);
}

.st94 {
    fill: url(#SVGID_00000052067404103620899830000005465615431839536542_);
}

.st95 {
    fill: #29ABE2;
    stroke: #FFFFFF;
    stroke-width: 4.1538;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 4.6318, 6.9478;
}

.st96 {
    fill: #FFFFFF;
    stroke: #244A4D;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st97 {
    fill: #244A4D;
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st98 {
    fill: none;
    stroke: url(#SVGID_00000088820236221842734210000007675983114874334616_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st99 {
    fill: none;
    stroke: url(#SVGID_00000097459501324281373400000004352904257704214704_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.6194, 9.9291;
}

.st100 {
    fill: none;
    stroke: url(#SVGID_00000005960623184108118770000007256709211055807635_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st101 {
    fill: url(#SVGID_00000016032850335532179510000013881076408391674773_);
}

.st102 {
    fill: url(#SVGID_00000056423498969269489770000013379377166727125158_);
}

.st103 {
    fill: none;
    stroke: url(#SVGID_00000042695912046479305700000001655417340951255450_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st104 {
    fill: none;
    stroke: url(#SVGID_00000080917324647298563460000010868338708882874514_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.5778, 9.8666;
}

.st105 {
    fill: none;
    stroke: url(#SVGID_00000003817970399486042360000012430511158468733338_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st106 {
    fill: url(#SVGID_00000106830973063118912010000013095098682435710654_);
}

.st107 {
    fill: url(#SVGID_00000167355128082356487660000011879780010591387797_);
}

.st108 {
    fill: #FFFFFF;
    stroke: url(#SVGID_00000118388703338320219590000005611657332284951425_);
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st109 {
    fill: url(#SVGID_00000121982739272294213680000003507513135608407996_);
    stroke: #C9C9C9;
    stroke-width: 2.3527;
    stroke-miterlimit: 10;
}

.st110 {
    fill: none;
    stroke: url(#SVGID_00000073723617995904728270000003103752893631641227_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st111 {
    fill: none;
    stroke: url(#SVGID_00000142876975299560074880000009854014667680548241_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 6.6093, 9.9139;
}

.st112 {
    fill: none;
    stroke: url(#SVGID_00000091733685534983570370000014060575459968018872_);
    stroke-width: 1.6726;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st113 {
    fill: url(#SVGID_00000143599258984136040800000013990194397497417663_);
}

.st114 {
    fill: url(#SVGID_00000136405446513688022470000016366851491618618528_);
}